/* Top header */
#top-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: #512b59;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 20px;
    z-index: 1300;
    transition: left 0.3s ease;
}

.logo-container {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.logo {
    height: 40px;
    width: auto;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(180deg) brightness(100%) contrast(100%);
}

#main-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    text-align: center;
    top: 0;
    left: 0;
    width: 75px;
    height: 100%;
    background-color: #512b59;
    overflow: hidden;
    transition: width 0.3s ease;
    z-index: 1200;
}

#main-menu:hover {
    width: 210px;
}

#main-menu:hover~#top-header {
    left: 200px;
}

#content {
    transition: margin-left 0.3s ease;
    margin-left: 75px;
}

#content.login {
    margin: 0;
}

#main-menu:hover~#content {
    margin-left: 210px; /* Margin when menu is expanded */
}

#main-menu ul {
    margin: 60px 0 0 0;
    padding: 0;
    list-style-type: none;
}

#main-menu li {
    margin: 0;
    padding: 0;
}

#main-menu li a {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    font-size: 1.125em;
    padding: 15px 0 15px 20px;
}

#main-menu li a:hover {
    background-color: #AE9AB3;
}

#main-menu li .icon {
    width: 30px;
    height: 30px;
    margin-right: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
}

/* Text container */
#main-menu li .text {
    display: inline-block;
    max-width: 0;
    white-space: nowrap;
    vertical-align: middle;
}

.logout-btn {
    color: white;
    padding-bottom: 10px;
    cursor: pointer;
}

#main-menu li:nth-child(1) .icon {
    background-image: url('../images/home.svg');
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(180deg) brightness(100%) contrast(100%);
}

#main-menu li:nth-child(1) .icon.filled {
    background-image: url('../images/home-fill.svg');
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(180deg) brightness(100%) contrast(100%);
}

#main-menu li:nth-child(2) .icon {
    background-image: url('../images/users.svg');
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(180deg) brightness(100%) contrast(100%);
}

#main-menu li:nth-child(2) .icon.filled {
    background-image: url('../images/users-fill.svg');
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(180deg) brightness(100%) contrast(100%);
}

#main-menu li:nth-child(3) .icon {
    background-image: url('../images/tempestDevice.svg');
    width: 35px;
    height: 35px;
    margin-left: 5px;
    margin-right: 15px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(180deg) brightness(100%) contrast(100%);
}

#main-menu li:nth-child(3) .icon.filled {
    background-image: url('../images/tempestDeviceFilled.svg');
    width: 35px;
    height: 35px;
    margin-left: 5px;
    margin-right: 15px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(180deg) brightness(100%) contrast(100%);
}

#main-menu li:nth-child(4) .icon {
    background-image: url('../images/map.svg');
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(180deg) brightness(100%) contrast(100%);
}

#main-menu li:nth-child(4) .icon.filled {
    background-image: url('../images/map-fill.svg');
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(180deg) brightness(100%) contrast(100%);
}

#main-menu li:nth-child(5) .icon {
    background-image: url('../images/apps.svg');
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(180deg) brightness(100%) contrast(100%);
}

#main-menu li:nth-child(5) .icon.filled {
    background-image: url('../images/apps-fill.svg');
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(180deg) brightness(100%) contrast(100%);
}

#main-menu li:nth-child(6) .icon {
    background-image: url('../images/metrics.svg');
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(180deg) brightness(100%) contrast(100%);
}

#main-menu li:nth-child(6) .icon.filled {
    background-image: url('../images/metrics-fill.svg');
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(180deg) brightness(100%) contrast(100%);
}

#main-menu li:nth-child(7) .icon {
    background-image: url('../images/monitoring.svg');
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(180deg) brightness(100%) contrast(100%);
}

#main-menu li:nth-child(7) .icon.filled {
    background-image: url('../images/monitoring-fill.svg');
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(180deg) brightness(100%) contrast(100%);
}

#main-menu li:nth-child(8) .icon {
    background-image: url('../images/tools.svg');
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(180deg) brightness(100%) contrast(100%);
}

#main-menu li:nth-child(8) .icon.filled {
    background-image: url('../images/tools-fill.svg');
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(180deg) brightness(100%) contrast(100%);
}
