html, body {
	height: 100%;
	font-family: Roboto, Sans-Serif;
	font-size: 16px;
	margin: 0;
}

#main {
	width: 100%;
	max-width: 960px;
	padding: 50px;
	margin: 0 auto;
}

#grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin: 20px 0 0 0;
}

.grid-item {
	background: #f9f9f9;
	border-radius: 8px;
	padding: 20px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	border: 1px solid #E2D8E4;
	margin: 10px;
}

.grid-item h2, .grid-item-graph h2 {
	background-color: #E2D8E4;
	padding: 5px;
	margin: 0;
	color: #512b59;
	text-align: center;
	font-weight: normal;
}

.grid-content {
	margin-top: 20px;
}

.grid-content table {
	width: 100%;
}

.grid-content td {
	vertical-align: baseline;
	text-align: right;
	width: 50%;
	line-height: 31px;
}

.grid-content td.value {
	font-family: Dosis, Sans-Serif;
	font-size: 1.5em;
	padding: 0 0 0 10px;
	text-align: left;
}

.grid-content-footnote {
	text-align: right;
	text-transform: uppercase;
	color: #512b59;
	font-size: .75em;
	margin: 0;
	display: flex;
	justify-content: space-between;
}

.down-arrow {
	width: 15px;
	height: 15px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image: url('../images/downArrow.svg');
	filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(180deg) brightness(100%) contrast(100%);
}

.down-arrow.up {
	transform: rotate(180deg);
}

.sort {
	display: inline-block;
	width: 15px;
	height: 15px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image: url('../images/sort.svg');
	vertical-align: middle;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(180deg) brightness(100%) contrast(100%);
}

.sort.up {
	transform: rotate(180deg);
}

.search-and-filters {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }

#filter-options form {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#search-box {
    padding: 8px;
    font-size: 16px;
  }

.radio-option {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 15px;
}

.grid-list ul {
	display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    list-style-type: none;
    padding: 0;
}

.grid-list li  {
    display: block;
    background-color: #fff;
    border: 1px solid #ddd;
    height: 50px;
    text-align: center;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    text-decoration: none;
    color: #512b59;
	cursor: pointer;
}

.grid-list li:hover {
    transform: translateY(-5px);
}

#network-graph {
	display: block;
    width: 100%;
    max-width: 960px;
    margin: 100px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.chart-container {
    background-color: #f9f9f9;
    transition: all 0.3s ease;
    height: 400px;
    width: 100%;
  }