#metrics {
    display: block;
    width: 100%;
    max-width: 960px;
    margin: 100px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#metrics-list {
    width: 100%;
    height: 400px;
    overflow-y: auto;
}

.metrics-header h1 {
    color: #512b59;
}

#metrics-list tbody tr:hover > td{
    background-color: #efebf1;
}

#metrics-list table {
    width: 100%;
    border-spacing: 0;
    table-layout: fixed;
}

#metrics-list th,
#metrics-list td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    background-color: #e2d8e4;
    word-wrap: break-word;
}

#metrics-list table th {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #512b59;
    color: #fff;
    padding: 15px;
    border-bottom: 1px solid #ccc;
}

#metrics-list th,
#metrics-list td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#metrics-list td:nth-child(1),
#metrics-list th:nth-child(1) {
    width: 30px;
}

#metrics-list td:nth-child(5),
#metrics-list th:nth-child(5),
#metrics-list td:nth-child(3),
#metrics-list th:nth-child(3) {
    width: 80px;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

.metrics-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.timerange-selector {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 350px;
    padding: 10px;
    font-size: 0.9em;
    text-overflow: ellipsis;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
    box-shadow: none;
}

.back-button-container {
    margin-bottom: 20px;
  }

  .button {
    background-color: #512b59;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }

  .button:hover {
    background-color: #553b5a;
  }

  .chart-container {
    background-color: #f9f9f9;
    transition: all 0.3s ease;
    height: 400px;
    width: 100%;
  }

.button-ctn {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
}