#users-view {
	max-width: 960px;
	padding: 50px;
	margin: 0 auto;
}

#search-box {
    width: 50%;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 15px 15px;
    font-size: 1em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    outline: none;
}

#search-box:focus {
    border-color: #512b59;
    box-shadow: 0 2px 5px rgba(81, 43, 89, 0.5);
}

.err-msg {
    color: red;
    margin-top: 10px;
    font-size: 0.9em;
    display: none;
}

.err-msg {
    display: block;
}

#search-section {
    text-align: center;
    margin-bottom: 20px;
}

.user-email {
    display: inline-block;
}

#edit-email {
    cursor: pointer;
    background: transparent url(../images/pencil.svg) no-repeat 50% 50%;
    background-size: 100% 100%;
    padding: 10px;
    filter: invert(16%) sepia(56%) saturate(724%) hue-rotate(244deg) brightness(95%) contrast(88%);
}

.arb-locations, .access-tokens, .client-ids, .user-settings-modal {
    padding: 10px;
}

#user-list, #general-list {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    border-collapse: collapse;
    border-radius: 0px 0px 8px 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

#general-list {
    max-height: 200px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #512b59 transparent;
}

#general-list table{
    height: 100px;
    background-color: #efebf1;
}

#user-list table, #general-list table {
    width: 100%;
    border-spacing: 0;
}

#general-list th,
#general-list td {
    padding: 8px;
    font-size: 0.85em;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

#user-list th,
#user-list td{
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
}

#user-list th {
    background-color: #512b59;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    position: relative;
}

#user-list tr {
    cursor: pointer;
}

#user-list th:first-child {
    border-top-left-radius: 8px;
}

#user-list th:last-child {
    border-top-right-radius: 8px;
}

#user-list th:hover {
    background-color: #6d4378;
}

#user-list tbody tr:hover > td{
    background-color: #f1f1f1;
}

#user-list tbody tr:last-child td {
    border-bottom: none;
}

#user-list th.asc::after,
#user-list th.desc::after {
    content: '';
    display: inline-block;
    margin-left: 8px;
    border: 5px solid transparent;
}

#user-list th.asc::after {
    border-bottom-color: #fff;
}

#user-list th.desc::after {
    border-top-color: #fff;
}

.station {
    overflow: auto;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
}

#user-info {
    display: block;
    width: 100%;
    max-width: 960px;
    margin-top: 30px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#user-info h2 {
    font-size: 24px;
    display: inline-block;
    margin-bottom: 10px;
    color: #333;
}

#user-info p {
    color: #666;
}

.account-info {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
    align-items: center;
}

.account-info > div {
    flex: 1;
    margin-right: 50px;
}

.user-id {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

#stations .station:not(:first-of-type) .station-hdr {
    cursor: pointer;
}

.station {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #efebf1;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.station-hdr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #512b59;
    color: #fff;
    padding: 15px;
    border-radius: 4px 4px 0 0;
}

.station-hdr a {
    color: white;
}

.station-hdr h3 {
    margin: 0;
    font-size: 18px;
}

.station-hdr-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.station-hdr-left > * {
    margin-right: 10px;
}

.station-hdr-left h3 {
    margin-right: 10px;
}

.station-hdr-2 {
    display: flex;
    justify-content: space-between;
    background-color: #e2d8e4;
    color: #000;
    padding: 5px 10px;
    border-radius: 0 0 4px 4px;
}

.station-hdr-2 .label, .station-hdr-2 .value {
    margin: 0;
    font-size: 12px;
}

.station-modified, .station-helpers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.station-helpers {
    cursor: pointer;
    text-decoration: underline;
}

.station-modified > *:not(:last-child), .station-helpers > *:not(:last-child) {
    margin-right: 15px;
}

.hub-info, .station-info {
    display: flex;
    flex-direction: row;
}

.station-info-col-1,
.station-info-col-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 5px 10px;
    background-color: #efebf1;
}

.station-info-col-1 div,
.station-info-col-2 div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.boolean-display {
    font-size: .9em;
    text-transform: uppercase;
}

.devices {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Device Table Header */
.list-hdr {
    font-size: 1.2em;
    font-weight: bold;
    padding: 8px;
    background-color: #512b59;
    color: #fff;
    border-radius: 4px 4px 0 0;
}

/* Base table styling */
.devices-table, .current-sensors {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    font-family: 'Arial', sans-serif;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    table-layout: fixed;
}

.devices-table th, #general-list th, .current-sensors th {
    background-color: #AE9AB3;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 8px;
    text-transform: uppercase;
    font-size: 0.85em;
    white-space: wrap;
    overflow: hidden;
}

.devices-table th:nth-child(1) { width: 5%; }
.devices-table th:nth-child(2) { width: 8%; }
.devices-table th:nth-child(3) { width: 10%; }
.devices-table th:nth-child(4) { width: 5%; }
.devices-table th:nth-child(5) { width: 5%; }

.devices-table td, .current-sensors td {
    padding: 8px;
    font-size: 0.85em;
    text-align: center;
}

.devices-table tr, .current-sensors td {
    border-bottom: 1px solid #ccc;
}

.devices-table tr:hover td {
    background-color: #eeeeee;
}

/* Action Row Styling */
.device-action-row {
    width: 100%;
    padding: 10px;
    background-color: #ffffcc !important;
}

.device-action-row td {
    padding: 10px;
    background-color: #ffffcc !important;
    text-align: center;
}

.device-status {
    text-align: center !important;
    cursor: pointer;
}

#coastal-zone select {
    width: 100%;
    max-width: 200px;
    padding: 5px;
    font-size: 0.9em;
    text-overflow: ellipsis;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
    box-shadow: none;
}

#coastal-zone {
    display: inline-block;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: left;
}

.checkmark {
    content: url('../images/checkBold.svg');
    filter: invert(16%) sepia(56%) saturate(724%) hue-rotate(244deg) brightness(95%) contrast(88%);
}

.xmark {
    content: url('../images/xBold.svg');
    filter: invert(16%) sepia(56%) saturate(724%) hue-rotate(244deg) brightness(95%) contrast(88%);
}

.warning {
    content: url('../images/warning.svg');
    filter: invert(16%) sepia(56%) saturate(724%) hue-rotate(244deg) brightness(95%) contrast(88%);
}

.station-messages {
    height: 25px;
    width: 25px;
    content: url('../images/notifications.svg');
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(152deg) brightness(103%) contrast(103%);
    cursor: pointer;
}

.user-settings {
    height: 40px;
    width: 40px;
    content: url('../images/userSettings.svg');
    filter: invert(16%) sepia(8%) saturate(7041%) hue-rotate(253deg) brightness(98%) contrast(85%);
    cursor: pointer;
}

.copy {
    height: 20px;
    width: 20px;
    padding-left: 5px;
    content: url('../images/copy.svg');
    filter: invert(16%) sepia(8%) saturate(7041%) hue-rotate(253deg) brightness(98%) contrast(85%);
    cursor: pointer;
}

.tooltip {
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    font-size: 12px;
    transform: translate(-70%, -100%);
    white-space: nowrap;
    z-index: 1000;
  }

/* Optional: Better control for medium-sized screens */
@media screen and (min-width: 769px) and (max-width: 1060px) {
    .devices-table {
        table-layout: fixed;
    }

    .devices-table td, .devices-table th {
        padding: 8px;
        font-size: 0.9em;
    }

    .device-more-menu {
        flex-wrap: wrap;
    }
}
